---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
const { url, title, description, pubDate, image, author } = {
  url: "/blog/posts/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  author: Astro.props.post.data.author,
  image: Astro.props.post.data.image.url,
  description: Astro.props.post.data.description,
  pubDate: new Date(Astro.props.post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};
---

<div class="relative group">
  <a class="absolute inset-0 z-10" href={url} title={title}></a>
  <div class="relative">
    <Image
      src={image}
      alt={title}
      width={1000}
      height={100}
      class="w-full aspect-8/9 object-cover object-center"
    />

    <div class="mt-2">
      <div class="overflow-hidden">
        <Text tag="p" variant="textXS" class="dark:text-base-400 text-base-600"
          >{author} — <timed date={pubDate}>{pubDate}</timed></Text
        >
        <Text
          tag="h3"
          variant="textBase"
          class="leading-6 mt-4 text-base-900 dark:text-white"
        >
          {title}
        </Text>
      </div>
      <div class="overflow-hidden">
        <Text
          tag="p"
          variant="textSM"
          class="text-base-500 mt-2 dark:text-base-400"
        >
          {description}
        </Text>
      </div>
    </div>
  </div>
</div>
