---
// Assets
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Content
const { frontmatter, previous, next } = Astro.props;

// This layout is not using the <slot/> feature, it's getting content from the markdown file frontmatter.
// The <slot/> feature is used to allow for dynamic content to be inserted into the layout by writing the content in the markdown file outsite the frontmatter.
//
// You can add the <slot/> where you want the content to be inserted by using the following syntax:
// <slot/> and use the Wrapper component with variant="prose" to style the content, the styles are already defined in the Wrapper component.
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-8 pb-12">
      <div class="relative overflow-hidden">
        <Image
          width={1000}
          height={100}
          src={frontmatter.thumbnail.url}
          alt={frontmatter.thumbnail.alt}
          data-aos="fade-up"
          data-aos-duration="1500"
          class="w-full h-120 object-cover object-center"
        />

        <a
          data-aos="fade-up"
          data-aos-duration="2500"
          href={frontmatter.live}
          class="size-12 bg-white dark:bg-base-950 absolute bottom-4 left-4 z-50 flex items-center justify-center gap-2 text-sm font-medium text-base-500 hover:text-base-900 dark:hover:text-white dark:text-base-400 duration-200"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            viewBox="0 0 256 256"
          >
            <path
              d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"
            ></path>
          </svg>
        </a>
      </div>
      <!-- Title Section -->
      <div class="mt-2">
        <div class="overflow-hidden">
          <Text
            tag="h1"
            variant="textXL"
            data-aos="fade-up"
            data-aos-duration="1000"
            class="dark:text-white text-base-900 text-balance"
          >
            {frontmatter.title}
          </Text>
        </div>
      </div>

      <!-- Description Section - Full Width -->
      <div class="mt-6">
        <Text
          tag="p"
          variant="textBase"
          class="text-base-500 dark:text-base-400 w-full"
        >
          {frontmatter.description}
        </Text>
      </div>

      <!-- Intro and Project Data Side by Side -->
      <div class="grid grid-cols-1 lg:grid-cols-2 mt-8 items-start gap-8">
        <div>
          <Wrapper variant="prose" class="-mt-4">
            {
              frontmatter.intro &&
                frontmatter.intro.map((item) => (
                  <div>
                    {item.paragraphs &&
                      item.paragraphs.map((paragraph) => (
                        <Text tag="p" variant="textBase">
                          {paragraph}
                        </Text>
                      ))}
                  </div>
                ))
            }
          </Wrapper>
        </div>
        
        <!-- Project Data and Credits Side by Side -->
        <div class="space-y-8">
          {
            frontmatter.projectData.map((data) => (
              <div class="grid grid-cols-2 gap-4">
                {Object.keys(data).map((key) => (
                  <div>
                    <Text
                      tag="h4"
                      variant="textSM"
                      class="text-base-950 dark:text-white capitalize font-medium"
                    >
                      {key}
                    </Text>
                    <Text
                      tag="p"
                      variant="textSM"
                      class="text-base-500 dark:text-base-400 text-balance"
                    >
                      {data[key]}
                    </Text>
                  </div>
                ))}
              </div>
            ))
          }
          
          <!-- Credits -->
          <div>
            <Text
              tag="h4"
              variant="textSM"
              class="dark:text-white text-base-900 font-medium mb-4">Credits</Text
            >
            <div class="grid grid-cols-2 gap-4">
              {
                frontmatter.credits.map((credit) => (
                  <div>
                    <Text
                      tag="p"
                      variant="textSM"
                      class="text-base-950 dark:text-white text-balance font-medium"
                    >
                      {credit.name}
                    </Text>
                    <Text
                      tag="p"
                      variant="textSM"
                      class="text-base-500 dark:text-base-400 text-balance"
                    >
                      {credit.role}
                    </Text>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-1 mt-8">
        {
          frontmatter.images
            .slice(0, 2)
            .map((image) => (
              <Image
                src={image.url}
                alt={image.alt}
                width={1000}
                height={1000}
                class="w-full object-cover aspect-[4/4]"
              />
            ))
        }
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 py-12">
        <div class="lg:col-start-2">
          {
            frontmatter.highlights &&
              frontmatter.highlights.map((item) => (
                <div>
                  <Text
                    tag="h2"
                    variant="textXL"
                    class="text-base-950  dark:text-white text-balance capitalize "
                  >
                    {item.title}
                  </Text>
                  {item.paragraphs &&
                    item.paragraphs.map((paragraph) => (
                      <Text
                        tag="p"
                        variant="textBase"
                        class="text-base-500  dark:text-base-400 mt-4 "
                      >
                        {paragraph}
                      </Text>
                    ))}
                </div>
              ))
          }
        </div>
      </div>
      <div>
        {
          frontmatter.images
            .slice(2, 3)
            .map((image) => (
              <Image
                src={image.url}
                alt={image.alt}
                width={1000}
                height={1000}
                class="w-full h-120 object-cover object-center"
              />
            ))
        }
      </div>
      <div class="mt-4 grid grid-cols-1 lg:grid-cols-2">
        <div>
          <div>
            {
              frontmatter.outro &&
                frontmatter.outro.map((item) => (
                  <div>
                    {item.paragraphs &&
                      item.paragraphs.map((paragraph) => (
                        <Text
                          tag="p"
                          variant="textSM"
                          class="text-base-500  dark:text-base-400 text-balance"
                        >
                          {paragraph}
                        </Text>
                      ))}
                  </div>
                ))
            }
          </div>
        </div>
      </div>
      <nav
        class="flex flex-col md:flex-row lg:justify-between gap-4 lg:items-center relative text-xs mt-24"
      >
        <div>
          {
            previous && (
              <a href={`/casestudies/${previous.slug}`} class="hover:opacity-80 ">
                <span class="block  text-base-900 dark:text-white font-medium uppercase">
                  Previous:
                </span>
                <span class="block  text-base-500 dark:text-base-400">
                  {previous.data.title}
                </span>
              </a>
            )
          }
        </div>
        <div>
          {
            next && (
              <a
                href={`/casestudies/${next.slug}`}
                class=" hover:opacity-80 text-right"
              >
                <span class="block  text-base-900 dark:text-white font-medium uppercase ">
                  Next:
                </span>
                <span class="block  text-base-500 dark:text-base-400">
                  {" "}
                  {next.data.title}
                </span>
              </a>
            )
          }
        </div>
      </nav>
    </Wrapper>
  </section>
</BaseLayout>
