---
// Assets
import { Image } from "astro:assets";
// Fundations
import Link from "@/components/fundations/elements/Link.astro";
import Text from "@/components/fundations/elements/Text.astro";
const { title, url, description, thumbnail } = {
  url: "/work/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  description: Astro.props.post.data.description,
  thumbnail: Astro.props.post.data.thumbnail.url,
};
---

<div class="relative group" data-animate>
  <div class="relative grid grid-cols-1 lg:grid-cols-2 gap-4 items-start">
    <Image
      src={thumbnail}
      alt={title}
      width={1000}
      height={100}
      class="w-full aspect-8/9 object-cover object-center"
    />
    <div class="flex flex-col h-full justify-between">
     <div>
          <Text
            tag="h3"
            variant="textXL"
            class="leading-6 text-base-900 dark:text-white"
          >
            {title}
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="text-base-500 mt-2 dark:text-base-400"
          >
            {description}
          </Text>
     </div>
      <div class="flex mt-2">
        <Link size="sm" variant="muted" href={url} title={title}>
          Read more
        </Link>
      </div>
    </div>
  </div>
</div>
